<div class="footer-content">
  <!-- TODO remove this with, make it with .Site.Copyright -->
  {{ with .Site.Params.license }}
    <div>
      {{ with $.Site.Copyright }}
        {{ debug.Dump . }}
        {{ printf "%T type" . }}
        <a href="{{ "LICENSE" | relURL }}">{{ . }}</a>
      {{ end }}
      {{ with .image }}
      {{ debug.Dump . }}
      {{ printf "%T type" . }}
        <img class="footer-image" src="{{ . | relURL }}"/>
      {{ end }}
    </div>
  {{ end }}
  {{ with .Site.Params.repo_url }}
    <a href="{{ . }}">
      Find this website's code here.
    </a>
  {{ end }}
  <div>Site last updated: {{ .Site.Lastmod | time.Format ":date_medium" }}</div>
</div>
