<div class="footer-content">
  {{ with .Site.Params.license }}
    <div>
      {{ $lic_text := $.Site.Copyright }}
      {{ if $lic_text }}
        {{ with .link }}
          <a href="{{ . }}">{{ $lic_text }}</a>
        {{ else }}
          {{ $lic_text }}
        {{ end }}
      {{ end }}
      {{ with .image }}
        <img class="footer-image" src="{{ . | relURL }}"/>
      {{ end }}
    </div>
  {{ end }}
  {{ with .Site.Params.repo_url }}
    <a href="{{ . }}">
      Find this website's code and license here.
    </a>
  {{ end }}
  <div>Last updated: {{ .Site.Lastmod | time.Format ":date_medium" }}</div>
</div>
