{{- if or .Date .Params.tags }}
  <div class="metadata">
    {{- with .Date }}
      {{ $dateMachine := . | time.Format "2006-01-02T15:04:05-07:00" }}
      {{ $dateHuman := . | time.Format ":date_long" }}
      <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
    {{- end }}
    {{- if and .Date .Params.tags }}
      &mdash;
    {{- end }}
    {{- with .Params.tags }}
      {{ partial "tags.html" . }}
    {{- end }}
    <br>
    <ul class="tags">
      <li>📖 {{ .ReadingTime }} min read</li>
      <li>•</li>
      <li>📊 {{ .WordCount }} words</li>
    </ul>
  </div>
{{- end}}
