{{ define "main" }}
  <h1>{{ .Title }}</h1>
  {{ partial "metadata.html" . }}
  {{- if .Summary }}
    <details>
    <summary><b>TL;DR</b></summary>
      <p>
        {{ .Summary }}
      </p>
    </details>
  {{- end }}
  {{ if or (and (gt .WordCount 400) (ne .Params.toc false)) (eq .Params.toc true) }}
    {{ with .Params.toc }}
      <aside>
        <b>Table of Contents:</b>
        {{ $.TableOfContents }}
      </aside>
    {{ end }}
  {{ end }}
  <hr>
  <article>
    {{ .Content }}
  </article>
{{ end }}
